* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 70, 202);
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
}

.search-container input {
    border: none;
    padding: .5rem;
    font-size: 1rem;
    height: 50px;
    width: 50px;
    transition: width .4s ease;
}

.search-container .btn {
    border: none;
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform .4s ease;
}

.btn:focus, input:focus {
    outline: none;
}

.search-container.active input{
    width: 200px;
}

.search-container.active .btn {
    transform: translateX(198px);
}
